
.status {
    display: inline-block;
    padding: 6px 14px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 700;
}

.status.approved {
    background: #DCFCE7;
    color: #166534;
}

.status.pending {
    background: #FEF3C7;
    color: #92400E;
}

.status.rejected {
    background: #FEE2E2;
    color: #991B1B;
}

.calc {
    margin-right: auto;
}


.modal-overlay,
.request-overlay {
    position: fixed;
    inset: 0;

    display: none;
    justify-content: center;
    align-items: center;

    background: rgba(0, 0, 0, .45);
    z-index: 999999;
}

.leave-modal {
    width: 550px;
    max-width: 90%;
    max-height: 90vh;

    overflow-y: auto;

    background: white;
    border-radius: 18px;
    padding: 30px;

    box-shadow: 0 15px 35px rgba(0,0,0,.25);
    animation: fadeIn .25s ease;
}

.close-modal,
.close-btn {
    background: none;
    border: none;
    font-size: 35px;
    cursor: pointer;
    color: #64748B;
    padding-top: 10px;
    padding-right: 3px;
}

.close-modal:hover,
.close-btn:hover {
    color: #fd0000;
}

.modal-details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 18px;
}

.modal-details div {
    background: #F8FAFC;
    padding: 15px;
    border-radius: 12px;
}

.modal-details label {
    font-size: 13px;
    font-weight: 700;
    color: #64748B;
}

.modal-details p {
    margin-top: 8px;
    font-weight: 600;
    color: #0F172A;
}

.reason-box {
    grid-column: span 2;

    background: white;
    border: 1px solid #E5E7EB;
    border-radius: 10px;

    padding: 15px;
}

.request-modal {
    width: 650px;
    max-width: 90%;
    max-height: 90vh;

    overflow-y: auto;

    background: white;
    border-radius: 18px;
    padding: 30px;

    box-shadow: 0 15px 35px rgba(0,0,0,.25);
    animation: fadeIn .25s ease;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 25px;
}

.modal-header h2 {
    color: #0B2E6D;
}

.progress {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 30px;
}

.circle {
    width: 36px;
    height: 36px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    background: #CBD5E1;
    font-weight: bold;
}

.circle.active {
    background: #165AC7;
    color: white;
}

.line {
    width: 60px;
    height: 4px;

    background: #CBD5E1;
}

.step {
    display: none;
}

.step.active {
    display: block;
}

.step h3 {
    color: #165AC7;
    margin-bottom: 10px;
}

.instruction {
    margin-bottom: 20px;
    color: #6B7280;
}

.step label {
    display: block;
    margin-top: 15px;
    margin-bottom: 6px;
    font-weight: 600;
}

.step input,
.step textarea,
.step select {
    width: 100%;
    padding: 12px;

    border: 1px solid #D1D5DB;
    border-radius: 8px;

    outline: none;
    box-sizing: border-box;
}

.step input:focus,
.step textarea:focus,
.step select:focus {
    border-color: #165AC7;
    box-shadow: 0 0 0 3px rgba(22,90,199,.15);
}

.buttons {
    display: flex;
    justify-content: space-between;

    margin-top: 25px;
}

.buttons button {
    padding: 10px 22px;

    border: none;
    border-radius: 8px;

    background: #165AC7;
    color: white;

    cursor: pointer;
}

.buttons button:hover {
    background: #0B2E6D;
}

.review {
    padding: 20px;
    border-radius: 10px;
    background: #F8FAFC;
}

.success-icon {
    display: block;
    margin-bottom: 20px;

    font-size: 60px;
    text-align: center;
    color: #16A34A;
}


.pagination {margin-bottom: auto;}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-15px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 700px) {

    .leave-modal,
    .request-modal {
        width: 95%;
        padding: 20px;
    }

    .modal-details {
        grid-template-columns: 1fr;
    }

    .reason-box {
        grid-column: span 1;
    }

}